<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/profileStyle.css}">
	<link rel="stylesheet" th:href="@{/css/imageOverlay.css}">
    <link rel="stylesheet" th:href="@{/css/polosaStyle.css}"/>
	<link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/png">
    <title>Profile</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{/js/profileScript.js}"></script>
	<script defer th:src="@{/js/imageAlign.js}"></script>
	<script th:src="@{/js/imageOverlay.js}"></script>
	<script th:src="@{/js/tabScript.js}"></script>
	<script th:src="@{/js/addFriendScript.js}"></script>
	<script th:src="@{/js/addFriendAJAX.js}"></script>
	
	<meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
    <div id="container">
        <div id="header-wrapper">
            <div id="polosa">
                <div id="search-exit">

                    <form id="logoutForm" action="#" th:action="@{/logout}" method="post">
                        <a href="#" th:href="@{/logout}" th:text="#{button.exit}" class="exit">Выйти</a>
                    </form>
                   <img th:src="@{/images/rfln.png}" alt="" class="logo">
                   <img th:src="@{/images/rating.png}" class="rate" alt="" >
                   <img th:src="@{/images/date.png}" class="date" alt="" >
                   <input type="text" id="search">
                   <img th:src="@{/images/loupeBackground.png}" class="loupe" alt="">
                </div>
            </div>
            
            <!-- ///////////////////////////////////////////// -->
            <div id="profile-back">
                <div id="profile-info">
                    <div id="avatar">
						<!--<div id="blackout"><a class="upload-ref" href="#">0 Публикации</a></div>-->
                        <img th:src="@{/images/avatar.png}" alt="">
                    </div>
                    <div id="text-profile">
                        <div id="nickPlus">
                            <div id="nickText">
                               <h1 id="nick" th:text="${nickname}">Nickname</h1>
                            </div>
							
                            <div class="add-friend" id="addFriend">
                               <img class="add-friend-plus" th:src="@{/images/plus.png}" alt="">
                               <span class="add-friend-text" th:text="#{addFriend}">Добавить в друзья</span>
                           </div>
							
                        </div>
                        <div id="menu">
                            <ul class="user-menu">
                                <li><a href="#" th:text="${publications} + ' ' + #{user.publications}">0 Публикации</a></li>
                                <li><a href="#" th:text="${friends} + ' ' + #{user.friends}" th:href = "@{'/user/' + ${nickname} + '/friend_list'}">0 друзей</a></li>
                                <li><a href="#" th:text="${followers} + ' ' + #{user.followers}" th:href = "@{'/user/' + ${nickname} + '/friend_list'}">0 подписчиков</a></li>
								<li><a href="#" th:text="${subscribes} + ' ' + #{user.subscribes}" th:href = "@{'/user/' + ${nickname} + '/friend_list'}">0 подписок</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- ///////////////////////////////////////////// -->
        </div>
        <div id="content-menu-wrapper">
            <label class="tab active" id="publications-tab" th:text="#{button.publications}">Публикации</label>
            <label class="tab" id="albums-tab" th:text="#{button.albums}">Альбомы</label>
			<label class='tab' id="one-album-tab" th:text="#{button.album}">Альбооооооооооом картинкиии</label>
			<div class="add-photo">
                <img class="add-photo-camera" th:src="@{/images/camera.png}">
                <span class="add-photo-text" th:text="#{button.addPhoto}">Добавить фото</span>
            </div>
        </div>
		<div class="publications" id="content">
            <img src="https://dummyimage.com/768x490/ff5050/fff" class="content-img" alt="">
            <img src="https://dummyimage.com/251x242/9900ff/fff" class="content-img" alt="">
            <img src="https://dummyimage.com/800x550/99ffcc/fff" class="content-img" alt="">
            <img src="https://dummyimage.com/3840x2052/9999ff/fff" class="content-img" alt="">
            <img src="https://dummyimage.com/340x260/99ff66/fff" class="content-img" alt="">
            <img src="https://dummyimage.com/400x200/ff9966/fff" class="content-img" alt="">
            <img src="https://dummyimage.com/200x300/cc99ff/fff" class="content-img" alt="">
			<img src="https://dummyimage.com/600x450/cc99ff/fff" class="content-img" alt="">
			<img src="https://dummyimage.com/599x449/0000ff/fff" class="content-img" alt="">
			<img src="https://dummyimage.com/601x410/cc0066/fff" class="content-img" alt="">
        </div>
        <div class="albums" id="content">
            <img src="https://dummyimage.com/345x500/000/fff" class="album-img" alt="">
            <img src="https://dummyimage.com/750x500/000/fff" class="album-img" alt="">
        </div>
		<div class="one-album" id="content">
            <img src="https://dummyimage.com/500x333/ff3399/fff" class="content-img" alt="">
            <img src="https://dummyimage.com/250x666/99ff33/fff" class="content-img" alt="">
        </div>
        <div id="overlay">
			<div id="image-window">	
				<div id="image-post">
                    <img src="" id="open-img" alt="">
                    <div class="copy" id="addFriend">
                        <img class="copy-plus" th:src="@{images/plus.png}" alt="">
                        <span class="copy-text" th:text="#{button.copyImage}">Скопировать себе</span>
                    </div>
                </div>
				
			</div>
        </div>
    </div>
</body>
</html>