html, body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
#header-wrapper{
    height: 70px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#container{
    width: 100%;
    background-color: #c6ccd8;
}
@media (max-width: 1425px) {
    .logo{
        margin-left: 1.4%;
    }
    .exit{
        margin-right: 1.4%;
    }
    #avatar{
        margin-left: 1.4%;
    }
    #content-menu-wrapper{
        padding-left: 1.4%;
    }
    #content{
        width: 97.2%;
    }
    .add-photo{
        margin-right: 1.4%;
    }
}
#polosa{
    width: 100%;
    height: 70px;
    background-color: #274b69;
    position: fixed;
}

#search-exit{
    margin: 0 auto;
    max-width: 1420px;
    height: 70px;
}
.logo{
    float: left;
    padding-top: 15px;
}
#session{
    display: flex;
    float: left;
}
.avatar-session{
    margin-left: 130px;
    margin-top: 10px;
    vertical-align: middle;
}
.nick-session{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFF;
    margin-left: 10px;
    padding-top: 25px;
}
#search, .exit, .date, .rate, .loupe{
    float: right;
    margin-top: 15px;
} 
.exit, .date, .rate{
    margin-left: 10px;
}
.loupe{
    pointer-events: none;
}
.exit{
    width: 100px;
    height: 30px;
    background-color: #f8f8f8;
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #dfdfdf;
    text-align: center;
    padding-top: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #838383;
    text-decoration: none;
}
#search{
    border: none;
    outline: none;
    width: 190px;
    height: 36px;
    border-radius: 0px 10px 10px 0px;
    border: 1px solid #dfdfdf;
    border-left: 0;
    background-color: #f8f8f8;
}
#content-wrapper{

}
#content-menu-wrapper{
    margin: 10px auto 0;
    max-width: 1420px;
    overflow: hidden;
}
.add-photo{
    background-color: #dfdfdf;
    width: 48px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    float: right;
    transition-duration: 0.5s;
    transition-property: width, background-color;
    position: relative;
    display: flex;
    z-index: 0;
}

.add-photo:hover{
    background-color: #d5d5d5;
    width: 180px;
    transition-duration: 0.5s;
}

.add-photo-camera{
    position: absolute;
    top: 5px;
    right: 5px;
}

.add-photo-text{
    font-family: 'Roboto', sans-serif;
    color: #838383;
    font-size: 18px;
    padding-top: 10px;
}
#content{
    background-color: #f8f8f8;
    margin: 0 auto;
    max-width: 1420px;
    border-radius: 0 10px 0 0;
}
.content-img{
    margin-top: 2.113%;
    margin-left: 2.113%;
    /*min-height: 400px; а если картинка очень длинная*/
}
.album-img{
    margin-top: 2.113%;
    margin-left: 2.113%;    
}
label.tab{
    color: #9e9e9e;
    font-weight: 600;
    display: inline-block;
    border-radius: 10px 10px 0 0;
    background-color: #dfdfdf;
    width: 130px;
    height: 28px;
    text-align: center;
    cursor: pointer;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-top: 12px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label.tab.active{
    background-color: #f8f8f8;
}

.overlay{
	position: fixed;
	display: none;
	text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.open-img{
	max-width: 100%;
	padding: 50px;
}