<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" th:href="@{images/icon.png}" type="image/png">
    <title>Change password</title>
    <link rel="stylesheet" th:href="@{css/changePass.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{js/showPass.js}"></script>
</head>
<body>
    <div id="container">
        <div class="form-wrapper">
            <form action="#" th:action="@{/recoveryPassword}" th:object="${user}" method="post" class="auto">
               <div id="logo">
                   <img th:src="@{images/blueRfln.png}" alt="">
               </div>
                <div id="field1">
                    <input type="password" class="password-input" id="password1" placeholder="Пароль" name="password">
                    <a href="#" class="password-control" id="eye1" onclick="showPassword('#password1', '#eye1')"></a>
                </div>
                <div id="field2">
                    <input type="password" class="password-input" id="password2" placeholder="Пароль" name="password">
                    <a href="#" class="password-control" id="eye2" onclick="showPassword('#password2', '#eye2')"></a>
                </div>
                <div id="enter-wrapper">
                   <a href="#"><p class="enter" th:text="#{button.enter}">Войти</p></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>