<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/css/profileStyle.css}">
    <link rel="stylesheet" th:href="@{/css/resultSearchStyle.css}">
    <link rel="stylesheet" th:href="@{/css/polosaStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/tcal.css}">
	<link rel="shortcut icon" th:href="@{/images/icon.png}" type="image/png">
    <title>Search</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script th:src="@{js/tabScript.js}"></script>
    <script th:src="@{/js/tcal.js}"></script>
    <script th:src="@{/js/searchAJAX.js}"></script>

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>
<body>
    <div id="container">
        <div id="header-wrapper">
            <div id="polosa">
                <div id="search-exit">

                    <form id="logoutForm" action="#" th:action="@{/logout}" method="post">
                        <a href="#" th:href="@{/logout}" th:text="#{button.exit}" class="exit">Выйти</a>
                    </form>
                    <a th:href="@{/}"><img th:src="@{/images/rfln.png}" alt="" class="logo"></a>
                    <div id="session">
                        <a th:href = "@{'/user/' + ${nickname}}"><img th:src="@{/images/avatar.png}" class="avatar-session" alt="" width="50px" height="50px"></a>
                        <a class="nick-session" id="nickname" th:text="${nickname}" th:href = "@{'/user/' + ${nickname}}">Nickname</a>
                    </div>
                    <div class="rating-menu">
                        <a href="#"><img th:src="@{/images/rating.png}" class="rate" alt="" id="ratingImage"></a>
                        <div class="rating-menu-content" id="rating-numbers">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                        </div>
                    </div>

                    <input type="text" name="date" class="tcal" id="dateSelector" value="" />

                    <input type="text" id="search">
                    <img th:src="@{/images/loupeBackground.png}" class="loupe" alt="">
                </div>
            </div>
        </div>
		<div class="publications" id="content-publications">

        </div>
        <!--<div class="overlay">
            <img src="" class="open-img">
        </div>-->
        </div>
    </div>
</body>
</html>