<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
	<link rel="shortcut icon" href="@{images/icon.png}" type="image/png">
    <title>Autorization</title>
    <link rel="stylesheet" href="@{css/startStyle.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
    <script src="@{js/showPass.js"></script>
	<script src="@{js/startScript.js}"></script>
</head>
<body>
    <div id="container">
       <div id="overlay">
           <div id="notification">
               <div id="text">
                   <p th:text="#{password.recoveryMessage}">На вашу почту было отправлено письмо со ссылкой на форму востановления пароля</p>
               </div>
               <div id="close-button">
                   <a href="#"><p class="close" th:text="#{button.close}">Закрыть</p></a>
                </div>
           </div>
       </div>
        <div class="form-wrapper">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Invalid username or password.
                </div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-info">You have been logged out.</div>
            </div>
            <form action="#" th:action="@{/Login}" th:object="${user}" method="post" class="auto">
               <div id="logo">
                   <img src="@{images/blueRfln.png}" alt="">
               </div>
                <div id="field1">
                    <input type="text" class="login" placeholder="Логин" name="login" th:placeholder="#{input.login}">
                </div>
                <div id="field2">
                    <input type="password" id="password-input" placeholder="Пароль" name="password" th:placeholder="#{input.password}">
                    <a href="#" class="password-control" id="eye1" onclick="showPassword('#password-input', '#eye1')"></a>
                </div>
                <div id="field3">
                   <a href="#"><p class="enter" th:text="#{button.enter}">Войти</p></a>
                </div>
                <div id="restore-wrapper">
                    <a href="#" th:href="/recoveryPassword"><span class="goReg" id="restorePassword" th:text="#{password.recovery}">Восстановить пароль</span></a>
                </div>
                <div id="field5">
                    <a href="#" th:href="/profile/registration"><span class="goReg" th:text="#{registration}">Зарегистрироваться</span></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>